<template>
  <div id="app">
    <todo-list v-bind:todos="todos"></todo-list>
    <create-todo v-on:create-todo="addTodo"></create-todo>
    <button id="show-modal" v-on:click="showModal=true">Show Modal</button>
    <modal v-if="showModal" v-on:close="showModal=false">
      <h3 slot="header">custom header</h3>
    </modal>
  </div>
</template>

<script>
import TodoList from './components/TodoList'
import CreateTodo from "./components/CreateTodo";
import Modal from "./components/Modal";

export default {
  name: 'App',
  components: {
    TodoList,
    CreateTodo,
    Modal
  },
  data() {
    return {
      todos: [{
        id: 1,
        title: 'Todo A',
        project: 'Project A',
        done: false,
      }, {
        id: 2,
        title: 'Todo B',
        project: 'Project B',
        done: true,
      }, {
        id: 3,
        title: 'Todo C',
        project: 'Project C',
        done: false,
      }, {
        id: 4,
        title: 'Todo D',
        project: 'Project D',
        done: false,
      }],
      showModal: false,
    }
  },
  methods: {
    addTodo({ title, project }) {
      this.todos.push({
        title,
        project,
        done: false,
      });
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
